{% extends "layout.html" %}

{% block content %}

<div class="container">

    <h1>Lista de Estudiantes para {{ estudiante.nombre }}</h1>
    <ul>
      {% for estudiante in estudiantes %}
        <li>{{ estudiante.nombre }} - {{ estudiante.apellido }} - {{estudiante.codigo_estudiante}}</li>
      {% empty %}
        <p>No hay estudiantes disponibles en este proyecto.</p>
      {% endfor %}
    </ul>
    <a href="{% url 'crear_estudiantes' %}">Crear Nuevo estudiante</a>
    
</div>

{% endblock %}