{% extends "layout.html" %}

{% block content %}

<div class="container">

    <h1>Lista de Estudiantes para {{ prestamo.nombre }}</h1>
    <ul>
      {% for prestamo in prestamo %}
        <li>{{ prestamo.libro }} - {{ prestamo.estudiante }} - {{prestamo.fecha_prestamo }} - {{prestamo.fecha_devolucion}}</li>
      {% empty %}
        <p>No hay prestamos disponibles en este proyecto.</p>
      {% endfor %}
    </ul>
    <a href="{% url 'crear_prestamos' %}">Crear Nuevo prestamo</a>
    
</div>

{% endblock %}