{% extends "layout.html" %}

{% block content %}

<div class="container">

    <h1 class="text-center my-4">Autores</h1>

    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-info ">
                        <tr class="text-center">
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Nacionalidad</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for autor in autores %}
                        <tr>
                            <td class="align-middle">{{ autor.nombre }}</td>
                            <td class="align-middle">{{ autor.apellido }}</td>
                            <td class="align-middle">{{autor.nacionalidad}}</td>
                            <td class="align-middle text-center">
                                <a href="" class="btn btn-danger btn-sm me-1">Eliminar</a>
                                <a href="" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                        </tr>
                        {% empty %}
                        <td class="align-middle">No hay libros disponibles en este proyecto.</td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="mt-4">
                <a href="{% url 'crear_autor' %}" class="btn btn-success btn-block">Crear Nuevo Autor</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}