{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h1 class="text-center my-4">Editoriales</h1>
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-info">
                        <tr class="text-center">
                            <th scope="col">Nombre</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for editorial in editoriales %}
                        <tr>
                            <td class="align-middle">{{ editorial.nombre }}</td>
                            <td class="align-middle text-center">
                                <a href="{% url 'eliminar_editorial' pk=editorial.id %}" class="btn btn-danger btn-sm me-1">Eliminar</a>
                                <a href="{% url 'editar_editorial' pk=editorial.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2" class="align-middle text-center">No hay editoriales disponibles.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="mt-4">
                <a href="{% url 'crear_editorial' %}" class="btn btn-success">Crear Nueva Editorial</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
