{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h1 class="text-center my-4">Estudiantes</h1>
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-info">
                        <tr class="text-center">
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Código de Estudiante</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for estudiante in estudiantes %}
                        <tr>
                            <td class="align-middle">{{ estudiante.nombre }}</td>
                            <td class="align-middle">{{ estudiante.apellido }}</td>
                            <td class="align-middle">{{ estudiante.codido_estudiante }}</td>
                            <td class="align-middle text-center">
                                <a href="{% url 'eliminar_estudiante' pk=estudiante.id %}" class="btn btn-danger btn-sm me-1">Eliminar</a>
                                <a href="{% url 'editar_estudiante' pk=estudiante.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="align-middle text-center">No hay estudiantes disponibles.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="mt-4">
                <a href="{% url 'crear_estudiante' %}" class="btn btn-success">Crear Nuevo Estudiante</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
